*{
    font-family :Arial, Helvetica, sans-serif
    
}

header{
    text-align: center;
    background: cornflowerblue;
    /* background: radial-gradient(circle, rgba(109,107,157,1) 1%, rgba(23,23,138,1) 100%, rgba(0,212,255,1) 100%);     */
    padding: 30px;
    color: cornsilk;
    font-size: x-large;
    border-bottom: 6px solid cornflowerblue;
    font-family:Arial, Helvetica, sans-serif;
    border-bottom-right-radius: 90px ;
    border-bottom-left-radius: 90px;
}

body{
    display: flex;
    background: rgb(208, 213, 221);
    flex-direction: column;
    background-color: rgb(214, 224, 243);
    width: auto;
    justify-content: center;
}

.search-area{
    /* width : 70%; */
    justify-items: center;
    margin: 0 auto;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    height:2cm;
    align-items: center;
    margin-bottom: 50px;
}

.five-day{
    display: flex;
    justify-content: space-around;
    /* padding-top: 20px; */
    margin:0px 150px;
    opacity: 70%;
    font-size: small;
}

.current-weather{
    margin:40px 40px;
    opacity: 80%;
    font-size: x-large;
    ;
    /* flex-direction: row; */

}

li{
    list-style-type: none;
    
}

