* {
    font-family: 'Quicksand', sans-serif;

}

header {
    text-align: center;
    background: cornflowerblue;
    padding-top: 0px;
    color: cornsilk;
    font-size: 400%;
    border-bottom: 6px solid rgb(148, 182, 245);
    font-family: Arial, Helvetica, sans-serif;
    border-bottom-right-radius: 90px;
    border-bottom-left-radius: 90px;
    margin-bottom: 1%;
}

body {
    display: flex;
    background: rgb(208, 213, 221);
    flex-direction: column;
    background-color: rgb(214, 224, 243);
    width: auto;
    justify-content: center;
}

.search-area {
    /* width : 70%; */
    justify-items: center;
    margin: 0 auto;
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    height: 2cm;
    align-items: center;
    margin-bottom: 50px;
}
.search-history{
 margin: 0 auto;
}

.five-day {
    display: flex;
    justify-content: space-around;
    /* padding-top: 20px; */
    /* margin:0px 50px; */
    opacity: 70%;
    font-size: small;
}

.current-weather {
    /* margin: 30px; */
    opacity: 80%;
    width: 50%;
    height: 40%
    
}

li {
    list-style-type: none;
    background-color: none;
}

.card {
    margin: 0px 2px;
}

.weather {
    display: flex;
    flex-direction: row;
    width: 98%;
    margin: 20px auto;
}


@media (max-width: 1000px) {
    .weather {
        flex-direction: column;
        margin-top: 40px;
    }

    .current-weather {
        width: 90%;
        margin: 0 auto;
    }

.search-history{
    margin-bottom: 20px;
}

    .five-day {
        flex-wrap: wrap;       
        /* flex: auto; */
        margin: 0 auto;
    }

.perday{
    display: flex;
    flex-direction: row;
}

}